@import './variables';


* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 13px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  background: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #999;
}

p {
  line-height: 1.2rem;
}

//border
@each $dir in (top, right, bottom, left) {
  .border-#{$dir} {
    border-#{$dir}: 1px solid $border-color;
  }

}

@each $colorKey,
$color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }

  .bg-#{$colorKey} {
    background-color: $color;
  }
}

//text

@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var ! important;
  }

}



@each $sizeKey,
$size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size*$base-font-size;
  }
}

//width height

@for $i from 1 to 20 {
  .w-#{$i*5} {
    width: $i*5;
  }

  .h-#{$i*5} {
    height: $i*5;
  }
}


.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-50 {
  width: 50%;
}

.h-70 {
  height: 65%;
}

//flex

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}


@each $key,
$value in $flex-js {
  .jc-#{$key} {
    justify-content: $value;
  }
}


@each $key,
$value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}


@each $typeKey,
$type in $spacing-types {

  @each $sizeKey,
  $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size*$spacing-base-size;
    }
  }

  @each $sizeKey,
  $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size*$spacing-base-size;
      #{$type}-right: $size*$spacing-base-size;
    }

    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size*$spacing-base-size;
      #{$type}-bottom: $size*$spacing-base-size;
    }
  }

  @each $directionKey,
  $direction in $spacing-directions {

    @each $sizeKey,
    $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size*$spacing-base-size;
      }
    }
  }

}

//button

.btn {
  border: none;
  border-radius: 0.1538rem;
  font-size: map-get($font-sizes, 'sm')*$base-font-size;
  padding: 0.2rem 0.6rem;

  &.btn-lg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: map-get($colors, 'white-1');
    border: 1px solid map-get($colors, 'white-2');
    padding: 0.8rem 1rem;
    font-size: 1rem;

    i {
      color: map-get($colors, 'primary');
      font-weight: bold;
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}


//nav

.nav {
  display: flex;

  // justify-content: space-around;
  .nav-item {
    border-bottom: 3px solid transparent;
    padding-bottom: 0.2rem;

    &.active {
      color: map-get($colors, 'primary');
      border-bottom: 3px solid map-get($colors, 'primary');
    }
  }

  &.nav-inverse {
    .nav-item {
      color: map-get($colors, 'white');

      &.active {
        border-bottom-color: map-get($colors, 'white');
      }
    }
  }
}

.sprite {
  background: url(https://multer-1258613188.cos.ap-shanghai.myqcloud.com/uploads/index.png) no-repeat 0 0;
  background-size: 28.8462rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;

  &.sprite-blz {

    background-position: 63.546% 15.517%;
  }

  &.sprite-gsz {
    background-position: 90.483% 15.614%;
  }

  &.sprite-zbsc {
    background-position: 36.746% 0.924%;
  }

  &.sprite-tyf {
    background-position: 10.408% 15.517%;
  }

  &.sprite-xrzq {
    background-position: 89.733% 1.266%;
  }

  &.sprite-ryjc {
    background-position: 36.467% 15.287%;
  }

  &.sprite-mnzzlk {
    width: 2.5rem;
    height: 2rem;
    background-position: 9.302% 0.813%;
  }

  &.sprite-wzyd {
    background-position: 63.3% 0.927%;
  }

  &.sprite-gzh {
    background-position: 0 96.207%;
  }

  &.sprite-arrow {
    width: 1rem;
    height: 0.8rem;
    background-position: 38.577% 52.076%;
  }

  &.sprite-hero {
    width: 1rem;
    height: 0.8rem;
    background-position: 46.768% 60.452%;
  }
}

//text overflow
.text-ellipse {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-js .vjs-big-play-button{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}